{% sproutseo 'optimize' %}

{%- set globals = metadata.globals -%}
{%- set meta    = metadata.meta -%}
{%- set schema  = metadata.schema %}

{% for name, value in meta.search %}
{% switch name %}
{% case "title" %}
	<title>{{ value }}</title>
{% case "author" %}
	<link href="{{ value }}" rel="author">
{% case "publisher" %}
	<link href="{{ value }}" rel="publisher">
{% default %}
	<meta name="{{ name }}" content="{{ value }}">
{% endswitch %}
{% endfor %}
{% if meta.googlePlus is defined and meta.googlePlus %}
	<link rel="publisher" href="{{ meta.googlePlus }}">
{% endif %}
{% for name, value in meta.robots %}
{% switch name %}
{% case "canonical" %}
	<link rel="canonical" href="{{ value }}">
{% default %}
	<meta name="{{ name }}" content="{{ value }}">
{% endswitch %}
{% endfor %}
{% for name, value in meta.geo %}
	<meta name="{{ name }}" content="{{ value }}">
{% endfor %}
{% for name, value in meta.openGraph %}
	<meta property="{{ name }}" content="{{ value }}">
{% endfor %}
{% for name, value in meta.twitterCard %}
	<meta name="{{ name }}" content="{{ value }}">
{% endfor %}
{% for property in globals.ownership %}
	<meta name="{{ property.metaTag }}" property="{{ property.metaTag }}" content="{{ property.verificationCode }}">
{% endfor %}

{%- for item in schema -%}
	{% if item %}
		{{ item.getSchema() }}
	{% endif %}
{%- endfor %}