{% minify %}

   <!doctype html>
   <html class="no-js" lang="{{ craft.app.language|slice(0,2) }}">
      <head>

         <meta charset="utf-8">
         <meta http-equiv="x-ua-compatible" content="ie=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         {# Preload Fonts #}
         {% set preloadedFonts = [] %}
         {% for font in preloadedFonts %}
            <link rel="preload" href="/dist/fonts/{{ font }}.woff2" as="font" crossorigin>
         {% endfor %}

         {# CSS #}
         {% set cssUrl = siteUrl ~ 'dist/' ~ rev('css/app.css')  %}

         {% if block('criticalCss')|length and craft.app.config.env == 'production' %}
            <style>
               {% block criticalCss %}{% endblock %}
            </style>
            <link rel="preload" href="{{ cssUrl }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
            <noscript>
               <link rel="stylesheet" href="{{ cssUrl }}">
            </noscript>
         {% else %}
            <link rel="stylesheet" href="{{ cssUrl }}">
         {% endif %}

         <style>
            [x-cloak] { display: none; }
         </style>

         {# Favicons #}
         {{ source('_components/favicons', ignore_missing = true) }}

      </head>

      <body 
         x-data="app"
         x-init="viewportHeight()"
      >

         <div id="app">
            {% block body %}{% endblock %}
         </div>
         
         {# Javascript #}
         <script src="{{ siteUrl }}dist/{{ rev('js/app.js') }}" defer></script>

      </body>

   </html>

{% endminify %}

{% js %}

   document.addEventListener('alpine:init', () => {
      Alpine.data('app', () => ({
         viewportHeightPx: null,
         viewportHeight() {
            this.viewportHeightPx = window.innerHeight * 0.01; 
            document.documentElement.style.setProperty('--vh', `${this.viewportHeightPx}px`);
         }
      }))
   });
   
{% endjs %}
