{% minify %}

   <!doctype html>
   <html class="no-js" lang="{{ craft.app.language|slice(0,2) }}">
      <head>

         <meta charset="utf-8">
         <meta http-equiv="x-ua-compatible" content="ie=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         {# Preload Assets #}
         {# <link rel="preload" href="/path/to/fonts/font.woff2" as="font" crossorigin> #}

         {# Inline / Critical CSS #}
         {% if
            block('inlineCss')|length or
            block('criticalCss')|length and
            not craft.config.devMode
         %}
            <style>
               {% block criticalCss %}{% endblock %}
               {% block inlineCss %}{% endblock %}
            </style>
         {% endif %}

         {# CSS #}
         {% set cssUrl = siteUrl ~ 'dist/css/' ~ rev('app.css')  %}
         {% if block('criticalCss')|length and not craft.config.devMode %}
            <link rel="preload" href="{{ cssUrl }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
            <noscript>
               <link rel="stylesheet" href="{{ cssUrl }}">
            </noscript>
         {% else %}
            <link rel="stylesheet" href="{{ cssUrl }}">
         {% endif %}

         {# Favicons #}
         {{ source('_components/favicons', ignore_missing = true) }}

      </head>

      <body>

         {% block body %}{% endblock %}

         {# Javascript #}
         <script src="{{ siteUrl }}dist/js/{{ rev('app.js') }}" async></script>

         {# Inline Javascript#}
         {% block inlineJs %}{% endblock %}

      </body>

   </html>

{% endminify %}
