{#
   Pagination
   Pagination for entries and elements.

   @type {include}
   @param {array} pagination

#}

{% do seomatic.helper.paginate(pagination) %}

{% if pagination is defined and pagination.totalPages > 1 %}

   <div class="flex flex-wrap">

      {% if pagination.prevUrl %}
         <a href="{{ pagination.prevUrl }}" class="mr-1">
            &larr;
         </a>
      {% endif %}

      {% for page, url in pagination.getPrevUrls(3) %}
          <a href="{{ url }}" class="mr-1">{{ page }}</a>
      {% endfor %}

      <span class="mr-1">{{ pagination.currentPage }}</span>

      {% for page, url in pagination.getNextUrls(3) %}
          <a href="{{ url }}" class="mr-1">{{ page }}</a>
      {% endfor %}

      {% if pagination.nextUrl %}
         <a href="{{ pagination.nextUrl }}" class="mr-1">
            &rarr;
         </a>
      {% endif %}

   </div>

{% endif %}
