{#
   Pagination
   Pagination for entries and elements

   @type {include}
   @param {array} pagination
   @param {string} pageLimit

#}

{% if pagination is defined and pagination.totalPages > 1 %}

   <div class="pagination">

      {% if pagination.prevUrl %}
         <a href="{{ pagination.prevUrl }}">
            <i class="fas fa-caret-left"></i>
         </a>
      {% endif %}

      {% for page, url in pagination.getPrevUrls(pageLimit) %}
          <a href="{{ url }}">{{ page }}</a>
      {% endfor %}

      <span>{{ pagination.currentPage }}</span>

      {% for page, url in pagination.getNextUrls(pageLimit) %}
          <a href="{{ url }}">{{ page }}</a>
      {% endfor %}

      {% if pagination.nextUrl %}
         <a href="{{ pagination.nextUrl }}">
            <i class="fas fa-caret-right"></i>
         </a>
      {% endif %}

   </div>

{% endif %}
