{# ------- Date ------- #}

{% macro date(date, relative) %}

  {% set dateFormat = 'jS F Y' %}

  {% if relative and now|date('U') <= date|date_modify('+14 day')|date('U') %}
    {{ date|date('U') }}
  {% else %}
    {{ date|date(dateFormat) }}
  {% endif %}

{% endmacro %}

{# ------- SVG ------- #}

{% macro svg(asset, transforms) %}

   {% if asset|length %}
      {% if asset.extension == 'svg' %}
         {{ svg(asset) }}
      {% else %}
         {% set assetTransform = craft.imager.transformImage(
            asset,
            transformParams
         ) %}
         <img src="{{ assetTransform.url }}" alt="{{ asset.title }}">
      {% endif %}
   {% endif %}

{% endmacro %}

{# ------- Lazy Load ------- #}

{% macro lazyLoad(asset, transforms) %}

   {% if asset|length %}
      {% set assetTransform = craft.imager.transformImage(
         asset,
         transforms
      ) %}
      <div class="lazy-load-container" style="background-color: {{ craft.imager.getDominantColor(assetTransform.url) }}">
         <img
            src="{{ craft.imager.placeholder({ width: transforms.width, height: transforms.height }) }}"
            data-src="{{ assetTransform.url }}"
            alt="{{ asset.title }}"
            class="js-lazy-load"
         >
      </div>
   {% endif %}

{% endmacro %}
