{% set labelHidden = ['submit', 'html'] %}
{% set labelAfter = ['checkbox'] %}

{% if form.submittedSuccessfully %}
   <div class="w-full bg-primary-100 text-primary-500 p-4 rounded text-sm">
      Thank you for submitting your details, we will be in touch shortly.
   </div>
{% endif %}

{{ form.renderTag }}

   {% if form.pages|length > 1 %}
      <nav>
         <ul>
            {% for page in form.pages %}
               <li>
                  {% if form.currentPage.index == page.index %}
                     <a href="javascript:;">{{ page.label }}</a>
                  {% else %}
                     {{ page.label }}
                  {% endif %}
               </li>
            {% endfor %}
         </ul>
      </nav>
   {% endif %}

   {% for row in form %}
      {% set columnLength = row|length %}
      <div class="{{ columnLength > 1 ? ' flex flex-wrap md:flex-no-wrap' }}{{ form.customAttributes.rowClass ? ' ' ~ form.customAttributes.rowClass }}">
         {% for field in row %}
            <div class="px-2 mb-5{{ columnLength > 1 ? ' w-full md:w-' ~ (12 / columnLength) ~ '/12' }}{{ field.type == 'submit' ? ' text-' ~ field.position }}"{{ field.rulesHtmlData }}>
               {# Label - Before #}
               {% if field.type not in labelHidden and field.type not in labelAfter %}
                  {% include '_components/field/label' with {
                     id: field.idAttribute,
                     label: field.label,
                     required: field.required
                  } %}
               {% endif %}
               {% if field.type == 'submit' %}
                  {% include '_components/button/primary' with {
                     type: 'button',
                     button: {
                        text: field.label
                     }
                  } %}
               {% elseif field.type == 'select' %}
                  {% include '_components/field/select' with {
                     type: field.type,
                     name: field.handle,
                     id: field.idAttribute,
                     required: field.required,
                     options: field.options
                  } %}
               {% elseif field.type == 'textarea' %}
                  {% include '_components/field/textarea' with {
                     type: field.type,
                     name: field.handle,
                     id: field.idAttribute,
                     required: field.required
                  } %}
               {% elseif field.type == 'checkbox' %}
                     {{ field.renderInput({
                        class: 'mr-2',
                        useRequiredAttribute: field.required ? 'true',
                        inputAttributes: field.required ? { 'aria-required': 'true' }
                     }) }}
               {% elseif field.type in ['text', 'email'] %}
                  {% include '_components/field/input' with {
                     type: field.type,
                     name: field.handle,
                     id: field.idAttribute,
                     required: field.required
                  } %}
               {% else %}
                  {{ field.renderInput({
                     useRequiredAttribute: field.required ? 'true',
                     inputAttributes: field.required ? { 'aria-required': 'true' }
                  }) }}
                {% endif %}
               {% if field.type not in labelHidden and field.type in labelAfter %}
                  {# Label - After #}
                  {% include '_components/field/label' with {
                     id: field.idAttribute,
                     label: field.label,
                     required: field.required
                  } %}
               {% endif %}
            </div>
         {% endfor %}
      </div>
   {% endfor %}

{{ form.renderClosingTag }}
